<!DOCTYPE HTML>
<html>
<head>
	<title>Superbuy Scraper</title>
    <meta charset="utf-8" />
	<meta name="description" content="Superbuy Scraping Site" />
	<meta name="keywords" content="Superbuy, Python, Scraping" />
	<meta name="author" content="Dominic" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="../static/scripts/scrape.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
	<section class="header">
		<h1>Superbuy Scraper</h1>
		<h2>Welcome to Dominics Superbuy Scraper!</h2>
	</section>
	<section class="navigation">
		<ul>
		<li><a href="index.html">Index</a></li>
		<li><a href="shirts.html">Shirts</a></li>
		<li><a href="pants.html">Pants</a></li>
		<li><a href="accessories.html">Accessories</a></li>
		<li><a href="bags.html">Bags</a></li>
		<li><a href="shoes.html">Shoes</a></li>
		</ul>
	</section>		
	<section class="main">
		<h1 id="heading">Shirts</h1>
		<table>
			<script>
				var tags = new Array("shirt", "t-shirt", "crewneck", "hoodie", "jumper");
				$(document).ready(function(){
					scrapeAndLoad(tags);  
				});  
			</script>
		</table>
	</section>		
	<section class="footer">
        <p>Created by <a href="mailto:domcodespoti@gmail.com">Dominic</a></p>
	</section>
</body>
</html>
